{% extends '::base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
        <h2>Please, refresh the page for the changes to take effect.</h2>
        <hr>
        <h5>If you rated a movie or tvshow, please refresh the page for the changes to take effect. We know this is inconvenient and we're
        trying to fix it. Thank you. :)<br> If, you came to this page by some other way than, we don't know what you're trying to
        do? Maybe you wanted another page? Thank you and, we're sorry. :) </h5>



        </div>
    </div>


{% endblock %}
