{% extends '::base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
        <h2>Whoa, something went wrong</h2>
        <hr>
        <h5>Ok, this is our 'fault' now. Unfortunately you don't have access here :(, maybe momentarily or maybe ever. In any case, please do try again if you wish to. :)</h5>



        </div>
    </div>


{% endblock %}
