{% extends '::base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
        <h2>Whoa, something went wrong</h2>
        <hr>
        <h5>Now this we don't know exactly what it this. We're trying to fix it nonetheless, please be patient. Thank you :)</h5>



        </div>
    </div>


{% endblock %}
