{# app/Resources/views/blog/calendar.html.twig #}
{% extends '::base.html.twig' %}

{% block content %}

      <div class="fh5co-spacer-md"></div>

      <div class="row">

          <div class="item">
            <div class="animate-box">

              <div id="calendar-holder"></div>

          </div></div>

      </div>

{% endblock %}
